@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent double scrolling */
}

:root {
  --sapFontFamily: 'Open Sans', sans-serif;
  --sapFontFamilyHeader: 'Open Sans', sans-serif; /* For Titles */
  --sapFontFamilyMonospace: 'Open Sans', sans-serif; /* For Monospace Text */
  --sapFontSemiboldDuplexFamily: 'Open Sans', sans-serif;
  --sapFontSemiBold: 600;
  --sapFontRegular: 400;
  --sapTextSmallFontSize: 14px;
  --sapTextMediumFontSize: 16px;
  --sapFontHighFontSize: 18px;
  --sapFontPrimaryColor: #2B2B2B;
  --sapFontSecondaryColor: #505357;
  --sapButton_TextColor: #0072CE;
  --sapInputHeight: 36px;
  --sapButtonHeight: 40px;
  --sapField_RequiredColor: #E31937;
  --dtePrimaryColor: #1E3575;
}

.sapMTitle, .sapMText{
  font-family: 'Open Sans', sans-serif;
}
.sapMTitle{
  font-weight: var(--sapFontSemiBold);
  color: var(--sapFontPrimaryColor);
}
.sapMLabel{
  font-weight: var(--sapFontSemiBold);
  color: var(--sapFontSecondaryColor);
  font-size: var(--sapTextSmallFontSize);
}
.sapUiBody{
  font-family: 'Open Sans';
}
.sapMText {
  letter-spacing: .7px;
  color: var(--sapFontSecondaryColor);
  font-size: var(--sapTextMediumFontSize);
}
.sapMIBar.app-header{
  height: 6rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dtePrimaryColor) !important;
}
.dte-logo{
  height: 2rem !important;
}
.sapMText.header-title{
  color: #ffffff !important;
}
.sapFShellBarTitleHidden{
  display: none;
}
.custom-footer {
    display: flex;
    justify-content: center;
    background-color: var(--dtePrimaryColor) !important; 
    height: 6.063rem !important;
  }
  .footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sapMLnkText{
    letter-spacing: .7px;
    color: #ffffff;
    font-weight: 100;
  }
  .footerText{
    font-size: 12px;
    padding: 15px 0 15px 0;
    color: #ffffff;
    text-align: center;
    line-height: 16.34px;
  }
 
  .sapMLnk:hover {
    text-decoration: none;
  }
  #ZN_4JH3fX4Yv5pRFL8{
    height: 0%;
  } 

  @media only screen and (max-width: 600px) {
    .sapMIBar.app-header{
      height: 2.875rem !important;
    }
    .dte-logo{
      height: 1.5rem !important;
    }
  }