@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent double scrolling */
}

:root {
  --sapFontFamily: 'Open Sans', sans-serif;
  --sapFontFamilyHeader: 'Open Sans', sans-serif; /* For Titles */
  --sapFontFamilyMonospace: 'Open Sans', sans-serif; /* For Monospace Text */
  --sapFontSemiboldDuplexFamily: 'Open Sans', sans-serif;
  --sapFontBoldWeight: 600;
}

.sapMTitle, .sapMText{
  font-family: 'Open Sans', sans-serif;
}

/* Enter your custom styles here */
.linkHBox {
  padding: 10px 0;
}

.paddingAlignment {
  padding-top: 10px;
}

.rightPaddingAlignment {
  padding-right: 10px !important;
}

.textAlignmentHeading {
  font-weight: bold;
}

.boldText{
  font-weight: bold;
}

.mainContentAlignment{
  padding: 1rem 0 4.5rem;
}

.underline{
  text-decoration: underline;
}

/* .setTableHeight{
  min-height: 550px;
  height: 100%;
  background-color: #fff;
} */