/* Enter your custom styles here */
.linkHBox {
  padding: 10px 0;
}

.paddingAlignment {
  padding-top: 10px;
}

.rightPaddingAlignment {
  padding-right: 10px !important;
}

.textAlignmentHeading {
  font-weight: bold;
}

.HomePageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePageTitle{
  font-size: 2rem;
  padding: 15px;
}

.HomepageContent{
  padding: 0px 0px 20px 0px;
}
