/* Enter your custom styles here */
.inputBox, .selectBox, .formBtn{
    padding:0px 0px 40px 0px !important;
}
.sapMInputBaseContentWrapper{
    height: 35px !important;
}
.mainTitle{
    font-weight: 600;
}
.sub-content{
    padding: 10px;
    color: #716e6e;
}
.main-container-class{
    padding-left: 8%;
    padding-right: 8%;
}
.sapMLabelInner{
    display: flexbox;
    flex-direction: row-reverse;
}
.sapMLabelColonAndRequired{
    padding-right: 3px;
}
.sapMRbG{
    display: inline-flex !important;
} 